* {box-sizing: border-box;}

html { 
  height: 100% 
}

body { 
    background-color: black;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container-fluid{
    padding: 0 !important;  /* le padding permet de ne pas avoir les bandes blanches sur les côtés */
}                           
section.parallax-bg-1 {     /* associé avec les paramètres au dessus */
background-size: cover;
}

.image {
    background-image: linear-gradient(to bottom, transparent 0%, black 100%), url('poster.jpg');
    width: 100%;
    height: 1000px;
    background-size: cover;
    
}

.header {
  overflow: hidden;
  background-color: #000000;
  padding: 20px 10px;
}

/* Style the header links */
.header a {
  float: left;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-family: Lobster; 
  font-size: 35px;
  color: white;
}

.header a.bienvenue {
  font-family: Alef; 
  font-size: 25px;
  color: white;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #ddd;
  color: black;
  
}

/* Style the active/current link*/
.header a.active {
  background-color: dodgerblue;
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

.row {
  background-color: black;
}

.txtprincip { /*Film en tendance !*/
    position: absolute; 
    left: 35%;
    top: 27%;
    color: white;
    font-family: Gabriola;
    font-size: 100px;
    text-shadow: black 7px 2px 5px;
}


@font-face {
  font-family: Lobster;
  src: url(Lobster1.4.otf);
}

.rcorners1 {

  position: absolute;
  border-radius: 25px;
  background: #ffffff;
  padding: 20px;
  width: 250px;
  height: 350px;
  left: 30%;
  top: 63%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

.rcorners2 {

  position: absolute;
  border-radius: 25px;
  background: #ffffff;
  padding: 20px;
  width: 250px;
  height: 350px;
  left: 50%;
  top: 63%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

.rcorners3 {

  position: absolute;
  border-radius: 25px;
  background: #ffffff;
  padding: 20px;
  width: 250px;
  height: 350px;
  left: 70%;
  top: 63%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}